<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../assets/note_edit.css">


    <title>Hello, world!</title>
</head>

<body>

    <div class="container">
        <div class="col-lg" style="height: 100%; border-left: 1px solid #eee;">
            <h1 style="margin-top:15px">Add a sticky note</h1>
            <div class="col-sm-7 border">
                <form role="form" name="addNote" id="addSticky">
                    <div class="control-group form-group">
                        <div class="controls">
                            <br /><br />
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="notename" required
                                data-validation-required-message="You must enter a title" />
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="content">Content</label>
                            <textarea id="notecontent" class="form-control" maxlength="999" rows="10" cols="100"
                                required style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary pull-right" id="saveButton"
                        style="margin-bottom:10px">Add note</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>