doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='../../../assets/note_edit.css')
    title Hello, world!
  body.container
    .container
      .col-lg(style='height: 100%; border-left: 1px solid #eee;')
        h1(style='margin-top:15px') Add a sticky note
        .col-sm-7.border
          form#addSticky(role='form', name='addNote' ,action="/content/note" method='post')
            .control-group.form-group
              .controls
                br
                br
                label(for='title') Title
                input#notename.form-control(type='text' name="title" required='', data-validation-required-message='You must enter a title')
            .control-group.form-group
              .controls
                label(for='content') Content
                textarea#notecontent.form-control(maxlength='999', rows='10', cols='100', required='', style='resize: none;', name="body")
            #success
            button#saveButton.btn.btn-primary.pull-right(type='submit', style='margin-bottom:10px') Add note
          form(action="/content/showList" method="get")
            button.btn.btn-primary(type="submit")
              span Cancel
    
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
